:root {
  --primary: #b38a56;
  --secondary: #5b3509;
  --shade1: #dccfb1;
  --black: rgba(0, 0, 0, 0.7);
  --shade2: #311700;
  --shade3:#b38a56;
--white: #fff;
  /* --image-grayscale: 0%;
  --image-opacity: 100%; */
}



@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body,
input,
textarea {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  color: var(--black);
  background-color: var(--shade1);
  line-height: 1.6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

button{
  padding: 1.5rem 4rem;
  font-size: 2rem;
  background-color: transparent;
  border-color: var(--primary);
  font-weight: 600;
 
  
}

li,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  /* filter: grayscale(var(--image-grayscale)) opacity(var(--image-opacity)); */
}

::selection {
  background-color: var(--shade2);
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

@media only screen and (max-width: 996px) {
  .container {
    padding: 0 12rem;
  }
}

@media only screen and (max-width: 768px) {
  .container {
    padding: 0 1.5rem;
  }
}

/* header */
.header {
  position: relative;
  box-sizing: border-box;
  background-color: var(--primary);
  height: calc(100vh);
  z-index: 1000;
}

.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
.navigation {
  position: relative;
  height: 5.5rem;
  line-height: 5.5rem;
}

.d-flex {
  display: flex;
  align-items: center;
}

.nav {
  justify-content: space-between;
}

.fix-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 5.5rem;
  background-color: var(--primary);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: all 300ms ease-in-out;
  z-index: 100;
}

.logo, button{
  cursor: pointer;
}

.logo h2 {
  font-size: 3rem;
  font-weight: 600;
  color: var(--shade1);
  font-style: italic;
}

.logo h2 span {
  color: var(--secondary);
  font-weight: 900;
}

.hamburger {
  display: none;
}
.nav-menu {
  height: auto;
  color: var(--secondary);
}

.nav-item:not(:last-child) {
  margin-right: 0.5rem;
}

.nav-link:link,
.nav-link:visited {
  padding: 1rem;
  columns: var(--shade1);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 300ms ease-in-out;
}

.nav-link:hover {
  color: var(--shade2);
}

@media only screen and (max-width: 996px) {
  .navigation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }

  .nav {
    display: block;
    background-color: var(--primary);
  }
  .nav-header {
    justify-content: space-between;
    width: 100%;
  }

  .nav-menu {
    height: 0;
    overflow: hidden;
    display: flex;
    align-items: flex-start;
    justify-content: start;
    flex-direction: column;
    transition: all 300ms ease-in-out;
    z-index: 999;
  }

  .hamburger {
    display: block;
    font-size: 2.5rem;
    color: var(--shade1);
    cursor: pointer;
  }

  .nav-list {
    width: 100%;
    height: auto;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 1.6rem;
  }

  .nav-item:not(:last-child) {
    margin-right: 0rem;
  }

  .nav-list .nav-item {
    width: 100%;
  }

  .nav-list .nav-link:link,
  .nav-list .nav-link:visited {
    padding: 0;
  }
}

/* Hero */
.hero {
  margin-top: 8rem;
  height: 100%;
}

.hero h1 {
  font-size: 8rem;
  line-height: 1.2;
  font-weight: 800;
  color: var(--shade1);
}

.hero h1 span {
  color: var(--shade2);
}

.hero p {
  color: var(--shade1);
  font-size: 2rem;
  margin-top: 3rem;
  width: 45%;
}

.hero .btn-group {
  transition: all 300ms linear;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 2rem;
}


.hero button:first-child {
  background-color: var(--shade2);
  color: var(--shade1);
}

.hero button:first-child:hover {
  background-color: var(--shade1);
  color: var(--secondary);
}

.hero button:last-child {
  background-color: var(--shade1);
  color: var(--secondary);
}

.hero button:last-child:hover {
  background-color: var(--secondary);
  color: var(--shade1);
}

@media only screen and (max-width: 998px) {
  .header {
    height: 100vh;
  }

  .hero {
    margin-top: 0rem;
    padding-top: 13rem;
    height: 100%;
  }

  .hero p {
    width: 80%;
    font-size: 2rem;
  }
  .hero .btn-group .btn {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 567px) {
  .hero h1 {
    font-size: 5.2rem;
  }
  .hero p {
    width: 100%;
  
  }
  .hero .btn-group .btn {
    font-size: 1.6rem;
  }

  .hero .btn-group .btn:first-child {
    margin-bottom: 1rem;
  }
}

/* Section */
.section {
  margin-top: 5rem;
  padding: 8rem 0;
  overflow-x: hidden;
  color: var(--secondary);
}

.about-center {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
}

img {
  width: 100%;
  object-fit: cover;
  
  
}

.subtitle::before {
  content: "";
  height: 2px;
  width: 2.5rem;
  margin: 0 1rem 0.3rem;
  background-color: var(--primary);
  display: inline-block;
}

.subtitle::after {
  content: "";
  height: 2px;
  width: 2.5rem;
  margin: 0 0.8rem 0.3rem;
  background-color: var(--primary);
  display: inline-block;
}

.title {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: var(--primary);
  font-weight: 600;
  margin-bottom: 1.5rem;
}

.about p {
  font-size: 1.7rem;
}

.about p.top {
  margin-top: 2rem;
  text-align: left;
}
span {
  color: var(--secondary);
  /* font-weight: bold; */
}

.right img {
  height: 50rem;
}

@media only screen and (max-width: 998px) {
  .about-center {
    grid-template-columns: 1fr;
  }
}

/* skills */
.skills {
  background-color: var(--white);
}

.skills .subtitle::before  {
  background-color: var(--shade3);
}
.skills .subtitle::after  {
  background-color: var(--shade3);
}


.section .top {
  text-align: center;
  margin-bottom: 3rem;
}

.section .top p {
  width: 65%;
  margin: 0 auto;
}
.skills .title{
  color: var(--shade3);
}
.skillscontainer {
  display: grid;

  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
}

.skill {
  position: relative;
  background-color: var(--shade1);
  text-align: center;
  padding: 3rem;
  height: 23rem;
  border-radius: 0.5rem;
  transform: perspective(1px) translateZ(0);
}
.skill span {
  font-size: 3rem;
  color: var(--shade2);
}

.skill h3 {
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--shade2);
  margin: 1rem 0 0.5rem 0;
  transition: all 300ms ease-out;
}

.skill p {
  font-size: 1.5rem;
  transition: all 300ms ease-out;
}

.skill:hover > h3,
.skill:hover > p {
  color: var(--shade1);
}

.skill::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  background-color: var(--primary);
  z-index: -1;
  transition: all 300ms ease-out;
  transform: scale(0);
}

.skill:hover::before {
  transform: scale(1);
}

@media only screen and (max-width: 998px) {
  .skillscontainer {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .skill {
    height: 25rem;
  }
  .skillscontainer {
    grid-template-columns: 1fr 1fr;
  }
  .subtitle {
    font-size: 1.4rem;
  }
  .title {
    font-size: 2.5rem;
  }
  .section .top p {
    font-size: 1.5rem;
    width: 90%;
  }
}

/* portfolio */

.portfolio-container {
  width: 100%;

  
}


.portfolio-container .single {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 5rem;
  border-bottom: #5b3509 1px dotted;
  padding: 5rem 0 ;

}

.portfolio-container img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.portfolio-container button{
  margin-top: 2rem;
  border-color: var(--secondary);
  color: var(--shade2);
  padding: 1rem 2rem;

}

.portfolio-container button:hover{
 padding: 1.2rem 2.4rem;

}




@media only screen and (max-width: 768px) {
  .portfolio-container .single {
    grid-template-columns: 1fr;
    padding: 3rem 0 ;
    gap: 1rem;
  }
}

/* Gallery */
.gallery {
  background-color: var(--white);
}

/* Gallery */
.gallery .subtitle::before  {
  background-color: var(--shade3);
}
.gallery .subtitle::after  {
  background-color: var(--shade3);
}
.gallery .title{
  color: var(--shade3);
}

.gallery .single {
  border: 1px solid #ccc;
}

.gallery .single .img-holder {
  width: 100%;
  height: 36rem;
}

.gallery .single .img-holder img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.gallery .glide__arrow {
  top: 50%;
}

.gallery .glide__arrow--left {
  left: 0;
}
.gallery .glide__arrow--right {
  left: 97.1%;
}

.gallery:hover .glide__arrow {
  visibility: visible;
  opacity: 1;
}

@media only screen and (max-width: 996px) {
  .gallery .glide__arrow--right {
    left: 94.5%;
  }
}

/* Contact */

.contact {
  position: relative;
}

.contact-center {
  display: grid;
  grid-template-columns: repeat (2, 1fr);
  gap: 3rem;
}

.contact-center h2 {
  font-weight: 700;
  font-size: 3.5rem;
  color: var(--primary);
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.contact-center p {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.contact-center .left .bottom {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
  align-items: center;
}

.contact-center .left .bottom > div {
  margin-right: auto;
}

.contact-center .left .bottom span {
  font-size: 3rem;
  color: var(--primary);
}

.contact-center .left .bottom h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

.contact-center .left .bottom small {
  font-size: 1.5rem;
}

.contact-center .right .form {
  border: 1px solid var(--shade2);
  padding: 3rem;
}

.contact-center .right .form div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.contact-center .right .form input {
  border: 1px solid var(--shade2);
  border-radius: 0.5rem;
  text-indent: 1rem;
  padding: 1rem 2rem 1rem 0;
}

.contact-center .right .form textarea {
  display: block;
  width: 100%;
  border-radius: 1px solid var(--shade2);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 2rem;
  overflow: auto;
  resize: vertical;
}

.contact-center .right .form a {
  display: inline-block;
  padding: 1.3rem 3rem;
  background-color: var(--primary);
  color: var(--shade1);
}

@media only screen and (max-width: 996px) {
  .contact-center {
    grid-template-columns: 1fr;
  }
}

@media only screen and (max-width: 996px) {
  .contact-center .right .form div {
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .contact-center .right .form input {
    width: 100%;
    padding: 1rem 0;
  }

  .contact-center .right .form div > input {
    margin-bottom: 2rem;
  }
}
.fa-chevron-circle-up {
  position: absolute;
  bottom: 1%;
  left: 50%;
  z-index: 1;
  font-size: 6rem;
  color: var(--primary);
}

/* Footer */
footer {
  background-color: var(--primary);
  padding: 2rem;
  color: var(--shade1);
  text-align: center;
}
.socialhandles {
  margin: 4rem auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.socialhandles p {
  padding: 1.5rem;
  font-size: 2rem;
  background: rgba(255, 255, 255, 0.05);
  margin: 1rem;

  border: 1px solid rgba(255, 255, 255, 0.2);
  color: var(--shade1);
}

.fa-heart {
  color: var(--secondary);
}
.fa-code {
  color: var(--shade2);
}
footer a {
  text-decoration: underline;
}
